.burger_ingredients {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  color: var(--text-primary-color);
  font-family: 'Jet Brains Mono', serif;
}

.menu {
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.ingredients_container {
  height: 60vh;
  max-height: 600px;
  overflow: auto;
}

.ingredients_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding-inline: 0;
  column-gap: 26px;
  list-style-type: none;
}

.ingredients_list_item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 272px;
}
